<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">

    <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.vtoggle.js"></script>
    <script src="/javascripts/jquery.knob.js"></script>
    <script src="/javascripts/command.js"></script>

    <link rel="stylesheet" href="/stylesheets/base/jquery.ui.all.css">
    <link rel="stylesheet" href="/stylesheets/slider.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">

  </head>
  <body>
    <H1><span class="black bg-white xx-large bold">エアコンの設定画面</span></H1>
    <section>
        <div id="jquery-knob">
                <input id="knob" data-angleOffset=-125 data-angleArc=250 data-fgColor="#66EE66" value="19" data-min="19" data-max="30">
        </div>
    </section>
    <section>
        <div id="receiveMsg"></div>
    </section>
    <section>
        <div id="address"></div>
        <div id="outside_temp"></div>
    </section>
    <section>
        <span class="red bg-white big-size bold" id="temperature">温度</span><span  class="red bg-white big-size bold">℃</span>
        <hr>
        <span id="uu" style="visibility:hidden"><img src="./images/uu.png"></span>
        <span id="nyaa" style="visibility:hidden"><img src="./images/nyaa.png"></span>
    </section>
    <section>
        <audio id="uu_sound" preload="auto" source src="./audio/uu.mp3"/>
        <audio id="nyaa_sound" preload="auto" source src="./audio/nyaa.mp3"/>
    </section>
  </body>
</html>