<H1><span class="black bg-white xx-large bold">エアコンの設定画面</span></H1>

<section id="jquery-ui-slider" >
    <div class="jquery-ui-slider-item ">
        <div class="jquery-ui-slider-title float-left "><span class="black medium bold">温度設定：</span></div>
        <div class="float-left"><input type="text" class="jquery-ui-slider-red-value" /></div>
        <div class="jquery-ui-slider-multi float-left" id="jquery-ui-slider-red">0</div>
        <div class="float-clear"></div>
    </div>
</section>
<section>
    <span class="red bg-white big-size bold" id="temperature">温度</span><span  class="red bg-white big-size bold">℃</span>
    <hr>
    <span id="uu" style="visibility:hidden"><img src="./images/uu.png"></span>
    <span id="nyaa" style="visibility:hidden"><img src="./images/nyaa.png"></span>
</section>
<section>
    <audio id="uu_sound" preload="auto" source src="./audio/uu.mp3"/>
    <audio id="nyaa_sound" preload="auto" source src="./audio/nyaa.mp3"/>
</section>