<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">

    <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.vtoggle.js"></script>
    <script src="/javascripts/jquery.knob.js"></script>
    <script src="/javascripts/command.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/flipswitch.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">

  </head>
  <body>
    <H1><span class="black bg-white xx-large bold">リアルタイムWeb デモ</span></H1>
    <section>
        <div>
            <span class="blue bg-white large bold" id="arduino-datetime">時刻:</span>
            <br>
            <span class="blue bg-white large bold" id="arduino-temp">気温:</span>
        </div>
    </section>
    <section>
        <div id="jquery-knob">
            <input id="knob" data-angleOffset=-125 data-angleArc=250 data-fgColor="#66EE66" value="0" data-min="0" data-max="20">
        </div>
    </section>
    <section>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
    </section>
    <section>
        <div id="receiveMsg"></div>
    </section>
    <section>
        <br>
        <span class="red bg-white big-size bold" id="temperature"></span>
        <br>
        <span class="blue bg-white medium bold" id="outside"></span>
        <br>
        <span class="blue bg-white medium bold" id="address"></span>
        <hr>
        <span id="uu" style="visibility:hidden"><img src="./images/uu.png"></span>
        <span id="nyaa" style="visibility:hidden"><img src="./images/nyaa.png"></span>
    </section>
    <section>
        <audio id="uu_sound" preload="auto" source src="./audio/uu.mp3"/>
        <audio id="nyaa_sound" preload="auto" source src="./audio/nyaa.mp3"/>
    </section>
  </body>
</html>