<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">

    <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
    <script src="/javascripts/jquery.vtoggle.js"></script>
    <script src="/javascripts/command.js"></script>

    <link rel="stylesheet" href="/stylesheets/base/jquery.ui.all.css">
    <link rel="stylesheet" href="/stylesheets/slider.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">

  </head>
  <body>
    <%- body %>
  </body>
</html>