@charset "UTF-8";

/*
よく使う文字色と背景色(HTML標準16色)、書体、サイズなどの指定をclassとして定義。
<tag class="red bg-silver large bold">などと列挙して使用。
*/

/* 文字色 */
.black { color:black; }
.gray { color:gray; }
.silver { color:silver; }
.white { color:white; }
.aqua { color:aqua; }
.blue { color:blue; }
.fuchsia { color:fuchsia; }
.green { color:green; }
.lime { color:lime; }
.maroon { color:maroon; }
.navy { color:navy; }
.olive { color:olive; }
.purple { color:purple; }
.red { color:red; }
.teal { color:teal; }
.yellow { color:yellow; }

/* 背景色 */
.bg-black { background-color:black; }
.bg-gray { background-color:gray; }
.bg-silver { background-color:silver; }
.bg-white { background-color:white; }
.bg-aqua { background-color:aqua; }
.bg-blue { background-color:blue; }
.bg-fuchsia { background-color:fuchsia; }
.bg-green { background-color:green; }
.bg-lime { background-color:lime; }
.bg-maroon { background-color:maroon; }
.bg-navy { background-color:navy; }
.bg-olive { background-color:olive; }
.bg-purple { background-color:purple; }
.bg-red { background-color:red; }
.bg-teal { background-color:teal; }
.bg-yellow { background-color:yellow; }

/* 文字の大きさ */
.xx-large { font-size:xx-large; }
.x-large { font-size:x-large; }
.large { font-size:large; }
.medium { font-size:medium; }
.small { font-size:small; }
.x-small { font-size:x-small; }
.xx-small { font-size:xx-small; }
.larger { font-size:larger; }
.smaller { font-size:smaller; }
.big-size {font-size:150px;}

/* 書体等 */
.normal { font-weight:normal;font-style:normal;text-decoration:none; }
.bold { font-weight:bold; }
.italic { font-style:italic; }
.monospace { font-family:monospace; }
.underline { text-decoration:underline; }
.strike { text-decoration:line-through; }
.nowrap { white-space:nowrap; }

/* レイアウト関係 */
.block-left { margin-left:0px;margin-right:auto; }
.block-center { margin:auto; }
.block-right { margin-left:auto;margin-right:0px; }
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }
.text-top { vertical-align:top; }
.text-middle { vertical-align:middle; }
.text-bottom { vertical-align:bottom; }
.left { margin-left:0px;margin-right:auto;text-align:left; }
.center { margin:auto;text-align:center; }
.right { margin-left:auto;margin-right:0px;text-align:right; }
.top { vertical-align:top; }
.middle { vertical-align:middle; }
.bottom { vertical-align:bottom; }
.hidden { visibility:hidden; } /* 表示しないだけで領域は確保。レイアウト調整用。*/