<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">

    <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
    <script src="/javascripts/jquery.vtoggle.js"></script>
    <script src="/javascripts/command.js"></script>

    <link rel="stylesheet" href="/stylesheets/base/jquery.ui.all.css">
    <link rel="stylesheet" href="/stylesheets/slider.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">

  </head>
  <body>
    <H1><span class="black bg-white xx-large bold">エアコンの設定画面</span></H1>

    <section id="jquery-ui-slider" >
        <div class="jquery-ui-slider-item ">
            <div class="jquery-ui-slider-title float-left "><span class="black medium bold">温度設定：</span></div>
            <div class="float-left"><input type="text" class="jquery-ui-slider-red-value" /></div>
            <div class="jquery-ui-slider-multi float-left" id="jquery-ui-slider-red">0</div>
            <div class="float-clear"></div>
        </div>
    </section>
    <section>
        <span class="red bg-white big-size bold" id="temperature">温度</span><span  class="red bg-white big-size bold">℃</span>
        <hr>
        <span id="uu" style="visibility:hidden"><img src="./images/uu.png"></span>
        <span id="nyaa" style="visibility:hidden"><img src="./images/nyaa.png"></span>
    </section>
    <section>
        <audio id="uu_sound" preload="auto" source src="./audio/uu.mp3"/>
        <audio id="nyaa_sound" preload="auto" source src="./audio/nyaa.mp3"/>
    </section>
  </body>
</html>